{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["file-loader", {
      "extensions": ["png", "jpg", "jpeg", "gif", "svg"],
      "publicPath": "/dist",
      "outputPath": "/dist/static",
      "context": "/src"
    }]
  ]
}
