{
  "presets": ["@babel/preset-react"],
  "plugins": [
    ["file-loader", {
      "extensions": ["ico", "png"],
      "publicPath": "/static",
      "outputPath": "/dist/static",
      "context": "/src"
    }]
  ]
}
